<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/app.css" />
</head>
<body class="flex min-h-screen flex-col bg-page text-ink">
<div id="DIV_ANALYTICS_SCRIPT" data-extracted-section="analytics" aria-hidden="true"></div>
<div id="DIV_LOCALIZATION_CONFIG" data-locale="en-us" data-language="en" aria-hidden="true"></div>
