<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    {{> header}}
    <main class="pt-[72px] p-6">Contact</main>
    {{> footer}}
  </body>
</html>
