<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wix.com</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-white text-[#162d3d] flex items-center justify-center">
    <a href="/website-template/view/html/2846" class="underline text-[20px]">Open Template 2846</a>
  </body>
</html>
