{{> shell-start}}
{{> header}}
<main class="flex-1 pb-16">
  <div class="mx-auto max-w-7xl w-25vw mt">
    <section class="pt-12">
      <h1 class="font-worksansSemi text-h1page text-ink">Projetos</h1>
      <h5>( Todos os projetos são apresentados em inglês )</h5>
    </section>

    <section class="mt-12 flex flex-col gap-12 lg:flex-row lg:items-start lg:gap-8 justify-between">
      <div class="flex-1 lg:max-w-[491px]">
        <h2 class="font-worksansSemi text-h2section leading-normal text-ink cursor-pointer">
          <a class="tracking-normal" href="/projects/advanced-queries">TSQL Avançado</a>
        </h2>
        <p class="mt-4 font-avenir text-body leading-[1.6em] text-ink">
          O projeto a seguir demonstra uma série de consultas avançadas usando T-SQL para realizar uma análise descritiva de um banco de dados de vendas (AventureWorks2022).
        </p>
      </div>
      <div class="shrink-0 lg:w-[490px] h-[331px]">
        <a class="tracking-normal" href="/projects/advanced-queries">
          <img
            src="/queries.webp"
            width="491"
            height="331"
            alt="Complex queries image"
            class="block w-full max-w-full object-cover cursor-pointer"
            style="object-fit:cover"
            fetchpriority="high"
          />
        </a>
      </div>
    </section>

{{!--{{

    <section class="mt-16 flex flex-col gap-12 lg:flex-row lg:items-start lg:gap-8">
      <div class="flex-1 lg:max-w-[490px]">
        <h2 class="font-worksansSemi text-h2section text-ink cursor-pointer">
          <a class="tracking-normal" href="/projects/query-tuning">SQL Server Performance Tuning</a>
        </h2>
        <p class="mt-4 font-avenir text-body leading-[1.6em] text-ink">
          O projeto a seguir demonstra diferentes técnicas implementadas para otimizar o desempenho de um banco de dados SQL Server e aumentar a eficiência dos processos.
        </p>
      </div>
      <div class="shrink-0 lg:w-[490px] h-[331px]">
        <a class="tracking-normal" href="/projects/query-tuning">
          <img
            src="/performance.webp"
            width="490"
            height="331"
            alt=""
            class="block w-full max-w-full object-cover h-full cursor-pointer"
            style="object-fit:cover"
            fetchpriority="high"
          />
        </a>
      </div>
    </section>

}}--}}

    <section class="mt-16 flex flex-col gap-12 lg:flex-row lg:items-start lg:gap-8  justify-between">
      <div class="flex-1 lg:max-w-[490px]">
        <h2 class="font-worksansSemi text-h2section text-ink cursor-pointer">
          <a class="tracking-normal" href="/projects/eda-analysis">EDA com Jupyter Notebook & Python</a> 
        </h2>
        <p class="mt-4 font-avenir text-body leading-[1.6em] text-ink">
          No projeto a seguir foram realizadas diferentes técnicas de análise de dados(EDA), usando Jupyter Notebook e Python.
        </p>
      </div>
      <div class="shrink-0 lg:w-[490px] h-[331px]">
        <a class="tracking-normal" href="/projects/eda-analysis">
          <img
            src="/Data.png"
            width="490"
            height="331"
            alt=""
            class="block w-full max-w-full object-cover h-full cursor-pointer"
            style="object-fit:cover"
            loading="lazy"
          />
        </a>
      </div>
    </section>

     <section class="mt-16 flex flex-col gap-12 lg:flex-row lg:items-start lg:gap-8 justify-between">
      <div class="flex-1 lg:max-w-[490px]">
        <h2 class="font-worksansSemi text-h2section text-ink cursor-pointer">
          <a class="tracking-normal" href="/projects/pbi-visuals">Visualização de Dados com Power BI</a>
        </h2>
        <p class="mt-4 font-avenir text-body leading-[1.6em] text-ink">
          O projeto a seguir contem multiplas técnicas de visualizações de dados usando Power BI.
        </p>
      </div>
      <div class="shrink-0 lg:w-[490px] h-[331px]">
        <a class="tracking-normal" href="/projects/pbi-visuals">
          <img
            src="/visuals.jpg"
            width="490"
            height="331"
            alt=""
            class="block w-full max-w-full object-cover h-full cursor-pointer"
            style="object-fit:cover"
            loading="lazy"
          />
        </a>
      </div>
    </section>
  </div>
</main>
{{> footer}}
{{> shell-end}}
