{{> shell-start}}
{{> header}}
<main class="flex-1 pb-16">
  <div class="mx-auto max-w-7xl w-25vw px-12">
    <section class="pt-12">
      <div class="flex flex-col gap-4 md:flex-row md:items-start md:justify-between">
        <h1 class="font-worksansSemi text-h1page text-ink">Resumo</h1>
      </div>
    </section>

    <section class="mt-12">
      <div class="flex flex-col gap-10 md:flex-row">
        <div class="md:w-1/2">
          <h2 class="font-worksansSemi text-h2section text-ink">Síntese<br>Profissional</h2>
        </div>
        <div class="md:w-1/2">
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            Acredito que minha combinação de conhecimento técnico e habilidades de comunicação se alinha perfeitamente às necessidades da sua empresa. 
            Tendo feito a transição da engenharia para a TI e com quase três anos de experiência dando suporte à Microsoft 
            em conjunto com a Tata Consultancy Services, me especializei em resolução de problemas e ótimização de processos.
            <br><br>
            A experiência profissional como analista de TI com o Microsoft Dynamics 365 envolveu a realização de análises diagnósticas
            para parceiros com problemas de desempenho nas soluções da Microsoft e a análise de logs do Azure Dataverse. Essa
            função aprimorou minhas capacidades analíticas e habilidades de resolução de problemas em ambientes dinâmicos. Além
            disso, o Bootcamp de Desenvolvimento Full Stack e a experiência em Engenharia Mecânica me proporcionaram uma base sólida em otimização,
            pensamento orientado para resultados e linguagens de programação como JavaScript e Python (fazendo uso de livrarias como pandas e numpy para modelagem e análise de dados), 
            bem como proficiência em ferramentas SQL, como SQL Server e Oracle SQL.
          </p>
        </div>
      </div>
    </section>

    <div class="my-12 h-[1px] w-full bg-[#c7c7c7]"></div>

    <section>
      <div class="flex flex-col gap-10 md:flex-row">
        <div class="md:w-1/2">
          <h2 class="font-worksansSemi text-h2section text-ink">Experiências<br>Profissionais</h2>
        </div>
        <div class="md:w-1/2">
          <p class="font-avenir text-body leading-normal text-ink"><span class="tracking-normal">Brasil - SC | 09/2025 - até o momento</span></p>
          <h3 class="mt-2 font-worksansSemi text-footerlabel leading-normal text-ink">Quality Digital</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-disc p-0 font-avenir text-body text-ink">
              <li>Resolução de problema com Micosoft AD</li>
              <li>Matenimento e conserto de infraestrutura de TI</li>
              <li>Mantenimento e conserto de Computadores, Impressoras e demas maquinas da área de TI.</li>
              <li>Resolução de problemas tanto on site como remoto.</li>
            </ul>
          </p>
          <br><br>
          <p class="font-avenir text-body leading-normal text-ink"><span class="tracking-normal">Uruguai | 06/2022 - 02/2025</span></p>
          <h3 class="mt-2 font-worksansSemi text-footerlabel leading-normal text-ink">Microsoft - Tata Consultancy Services</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-disc p-0 font-avenir text-body text-ink">
              <li>Análise de telemetria usando: Azure Data Explorer (SQL), rastreamentos de rede e Jarvis.</li>
              <li>Integração de CRM com aplicativos como Power BI, SharePoint e Omnichannel.</li>
              <li>Gerar relatórios para clientes.</li>
              <li>Resolução de problemas relacionados ao performance de Dynamics 365 CRM.</li>
              <li>Conformidade com SLA, atendimento ao cliente em inglês, português e espanhol.</li>
              <li>Diminuição de casos de risco de terceiros.</li>
              <li>Coordenação de canais de comunicação interna.</li>
            </ul>
          </p>
          <br>
          <p class="mt-6 font-avenir text-body leading-normal text-ink"><span class="tracking-normal">Uruguai | 04/2022 - 06/2022</span></p>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Amazon US - Alorica</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-disc p-0 font-avenir text-body text-ink">
              <li>Resolução de problemas relacionados a produtos adquiridos através da Amazon, na área dos EUA.</li>
              <li>Conformidade com SLA, atendimento ao cliente em inglês.</li>
            </ul>
          </p>
        </div>
      </div>
    </section>

    <div class="my-12 h-[1px] w-full bg-[#c7c7c7]"></div>

    <section>
      <div class="flex flex-col gap-10 md:flex-row">
        <div class="md:w-1/2">
          <h2 class="font-worksansSemi text-h2section text-ink">Formação<br>Acadêmica</h2>
        </div>
        <div class="md:w-1/2">
          <p class="mt-6 font-avenir text-body leading-normal text-ink">
            <span class="tracking-normal">Brasil | 2025 - cursando</span>
          </p>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Ciências da Computação</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-none p-0 font-avenir text-body text-ink">
              <li>Universidade Cruzeiro do Sul</li>
            </ul>
          </p>
            <p class="mt-6 font-avenir text-body leading-normal text-ink">
              <span class="tracking-normal">Venezuela | 2007 - 2011</span>
            </p>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Engenharia Mecânica</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-noe p-0 font-avenir text-body text-ink">
              <li>Universidade de Carabobo</li>
            </ul>
          </p>
        </div>
      </div>
    </section>

    <div class="my-12 h-[1px] w-full bg-[#c7c7c7]"></div>

    <section>
      <div class="flex flex-col gap-10 md:flex-row">
        <div class="md:w-1/2">
          <h2 class="font-worksansSemi text-h2section text-ink">Cursos e<br>Certificações</h2>
        </div>
        <div class="md:w-1/2">
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">English Certificate</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-none p-0 font-avenir text-body text-ink">
              <li>Instituição: EF SET</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">SQL Server Performance Tuning</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-noe p-0 font-avenir text-body text-ink">
              <li>Instituição: Udemy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Complete Introduction to Business Data Analysis</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-none p-0 font-avenir text-body text-ink">
              <li>Instituição: Udemy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Advanced Microsoft Power BI</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-noe p-0 font-avenir text-body text-ink">
              <li>Instituição: LinkedIn Learning - National Association of State Boards of Accountancy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Python for Data Analysis and Visualisation</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-none p-0 font-avenir text-body text-ink">
              <li>Instituição: Udemy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">National Association of State Boards of Accountancy (NASBA) SQL Training</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-noe p-0 font-avenir text-body text-ink">
              <li>nstituição: LinkedIn Learning - National Association of State Boards of Accountancy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">The Complete Prompt Engineering for AI Bootcamp</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-none p-0 font-avenir text-body text-ink">
              <li>Instituição: Udemy</li>
            </ul>
          </p>
          <br>
          <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">Desenvolvedor Full Stack</h3>
          <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">
            <ul class="list-noe p-0 font-avenir text-body text-ink">
              <li>Instituição: Hack Academy (Uruguai)</li>
              <li>Coding Bootcamp +600 hours Full-time</li>
            </ul>
          </p>
        </div>
      </div>
    </section>

  </div>
</main>
{{> footer}}
{{> shell-end}}
