{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full flex-grow">
    <div class="flex justify-around w-full grow h-[calc(100vh-20vh)] px-4">
      <div class="w-1/5 px-4 border-r border-r-gray-300">
        <h4 class="text-xl font-bold">Notebooks</h4>
        <ul class="list-none px-auto font-avenir text-body text-ink gap-4">
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="0">Data Cleaning</li>
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="1">EDA</li>
        </ul>
      </div>
      <div class="w-4/5 px-4 flex flex-col items-center justify-around h-full gap-4 grow">
        <div class="text-2xl font-bold">Read-Only Data Analysis Presentations</div>
        <div class="bg-white border border-gray-300 h-5/6 w-full overflow-auto" id="project-content"></div>
      </div>
  </div>   
</main>

<script>

// Fetching templates
async function CleanDataHTML() {
  const response = await fetch('/assets/cleaning_data.html');
  const html = await response.text();

  return html;

}

async function EDAHTML() {
  const response = await fetch('/assets/EDA.html');
  const html = await response.text();

  return html;

}

// Object of templates
const data = [
  {
    title: "Data Cleaning",
    htmlContent: CleanDataHTML()
  },
  {
    title: "EDA",
    htmlContent: EDAHTML()
  },
];


// First load
async function onLoad() {

  document.getElementById('project-content').innerHTML = `
    <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">${await data[0].htmlContent}</p>
  `;

  document.querySelector('.list-button').style.backgroundColor = '#C0C0C0';

}

onLoad();


// Get list buttons
const buttons = document.querySelectorAll('.list-button');

// Alter content based on list button
buttons.forEach(button => {
  button.addEventListener('click', async function() {

    
    buttons.forEach(button => {
        button.style.backgroundColor = '';
      });

    this.style.backgroundColor = '#C0C0C0';

    const text = this.getAttribute('data-text');

    document.getElementById('project-content').innerHTML = `
    <p class="mt-2 font-avenir text-body leading-[1.6em] text-ink">${await data[text].htmlContent}</p>
    `;

  });
});

</script>
{{> footer}}
{{> shell-end}}