{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full flex-grow">
    <div class="flex justify-around w-full grow h-[calc(100vh-20vh)] px-4">
      <div class="w-1/5 px-4 border-r border-r-gray-300">
        <h4 class="text-xl font-bold">Components</h4>
        <ul class="list-none px-4 font-avenir text-body text-ink gap-4">
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="0">Power BI Report</li>
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="1">DAX functions</li>
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="2">Sentiment Analysis</li>
          <li class="py-2 px-4 cursor-pointer my-2 list-button" data-text="3">Dataset</li>
        </ul>
      </div>
      <div class="w-4/5 px-4 flex flex-col items-center justify-around h-full gap-4 grow">
        <div class="text-2xl font-bold" id="project-title"></div>
        <div class="bg-white border border-gray-300 h-5/6 w-full overflow-auto" id="project-content"></div>
      </div>
  </div>   
</main>
<script >

// Fetch Notebook html
async function SentimentAnalysisHTML() {
  const response = await fetch('../assets/CustomerSatisfactionAnalysis.html');
  const html = await response.text();

  console.log(html);

  return html;

}

// PBI Report Template
async function PowerBIReport() {
    const html = 
    `
        <iframe 
            title="BussinessCustomerSentiment" 
            style="width: 100%; height: 100%;"
            src="https://app.powerbi.com/view?r=eyJrIjoiOWE0YTI4MjQtNDQwZS00ZDgwLThiNDUtODE3YjU1ODIxNDkzIiwidCI6IjdkNDYyMTE5LWZlNzctNGJmMi1hZTNiLTI5NzQwZTY4ZWZhMCIsImMiOjR9&pageName=d5a976c5097a73a3a129" 
            frameborder="0" 
            allowFullScreen="true"
        ></iframe>
        `

    return html
}

// DAX functions template
async function DAXFunctions() {
    const html = 
`
        <iframe 
            title="DAXfunctions" 
            style="width: 100%; height: 100%;"
            src="../assets/dax_functions.pdf" 
            frameborder="0" 
            allowFullScreen="true"
        ></iframe>
        `

    return html
}


// Fetch CSV 
async function DatasetHTML() {
  const response = await fetch('../assets/fact_customer_sentiment.htm');
  const html = await response.text();

  console.log(html);

  return html;

}

// Obejct of templates
const data = [
    {
        title: "Power BI Report",
        htmlContent: PowerBIReport()
    },
    {
        title: "DAX Functions used in PBI Report",
        htmlContent: DAXFunctions()
        
    },
    {
        title: "Sentiment Analysis for PBI Report",
        htmlContent: SentimentAnalysisHTML()
    },
    {
        title: "Output - Sentiment Analysis Dataset",
        htmlContent: DatasetHTML()
    }
]

// First load
window.onload = function() {

  document.querySelector('.list-button').click();

}

// Get list buttons
const buttons = document.querySelectorAll('.list-button');

// Alter content based on list button
buttons.forEach(button => {
  button.addEventListener('click', async function() {

    
    buttons.forEach(button => {
        button.style.backgroundColor = '';
      });

    this.style.backgroundColor = '#C0C0C0';

    const text = this.getAttribute('data-text');
    
    document.getElementById('project-title').innerHTML = `
    <h3 class="mt-2 font-worksansSemi text-footerlabel text-ink">${await data[text].title}</h3>
    `;

    document.getElementById('project-content').innerHTML = `${await data[text].htmlContent}`;

  });
});

</script>
{{> footer}}
{{> shell-end}}