{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full flex-grow">
    <div class="flex justify-around w-full grow h-[calc(100vh-20vh)] px-4">
      <div class="w-1/5 px-4 border-r border-r-gray-300">
        <h4 class="text-xl font-bold">Components</h4>
        <ul class="list-none px-4 font-avenir text-body text-ink gap-4">
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="0">Power BI Report</li>
        </ul>
      </div>
      <div class="w-4/5 px-4 flex flex-col items-center justify-around h-full gap-4 grow">
        <div class="text-2xl font-bold">Power BI Report</div>
        <div class="bg-white border border-gray-300 h-5/6 w-full overflow-auto">
        <iframe 
          title="BussinessCustomerSentiment" 
          style="width: 100%; height: 100%;"
          src="https://app.powerbi.com/view?r=eyJrIjoiOWE0YTI4MjQtNDQwZS00ZDgwLThiNDUtODE3YjU1ODIxNDkzIiwidCI6IjdkNDYyMTE5LWZlNzctNGJmMi1hZTNiLTI5NzQwZTY4ZWZhMCIsImMiOjR9" 
          frameborder="0" 
          allowFullScreen="true"></iframe>
        </div>
      </div>
  </div>   
</main>
{{> footer}}
{{> shell-end}}