{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full flex-grow">
    <div class="flex justify-around w-full grow h-[calc(100vh-20vh)] px-4">
      <div class="w-1/5 px-4 border-r border-r-gray-300">
        <h4 class="text-xl font-bold">Lista de Queries</h4>
        <ul class="list-none px-4 font-avenir text-body text-ink gap-4">
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="0">Customer Retention and Churn Analysis</li>
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="1">Inventory Risk Analysis and Sales Trend</li>
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="2">Query 3</li>
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="3">Query 4</li>
          <li class="pt-2 cursor-pointer mt-1 list-button" data-text="4">Query 5</li>
        </ul>
      </div>
      <div class="w-4/5 px-4 flex flex-col items-center justify-around h-full gap-4 grow">
        <div class="text-2xl font-bold">Read-Only Advanced Query Presentations</div>
        <div class="text-xl" id="query-tittle"></div>
        <div class="bg-white border border-gray-300 h-2/5 w-full overflow-auto" id="query-text"></div>
        <div class="bg-white border border-gray-300 h-2/5 w-full overflow-auto px-2" id="query-output"></div>
      </div>
  </div>   
</main>
<script type = "module" src="/scripts/tsql.js"></script>
{{> footer}}
{{> shell-end}} 