{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full flex-grow">
    <div class="flex justify-around w-full grow h-[calc(100vh-15vh)] px-4">
      <div class="w-1/5 p-4 bg-blue-500 grow">lista de queries</div>
      <div class="w-4/5 p-4 bg-cyan-500 flex flex-col items-center justify-around h-full gap-4 grow">
        <div class="bg-blue-500 text-2xl font-bold">Read-Only Advanced Query Presentations</div>
        <div class="bg-pink-500 text-xl" id="query-tittle"></div>
        <div class="bg-white h-2/5 w-full overflow-auto" id="query-text"></div>
        <div class="bg-yellow-500 h-2/5 w-full overflow-auto" id="query-output"></div>
      </div>
  </div>   
</main>
<script type = "module" src="/scripts/tsql.js"></script>
{{> footer}}
{{> shell-end}} 