{{> shell-start}}
{{> header}}
<main class="mt-2 font-avenir text-body leading-[1.6em] text-ink w-full h-full">
  <body class="m-0 p-0">
    <div class="flex justify-around w-full h-full">
      <div class="w-1/2 p-4 bg-blue-500 h-full">lista de queries</div>
      <div class="w-1/2 p-4 bg-cyan-500 flex flex-col items-center justify-around h-full gap-4">
        <div class="bg-blue-500">Titulo</div>
        <div class="bg-pink-500">Subtitulo</div>
        <div class="bg-purple-500">Query Text</div>
        <div class="bg-yellow-500">Query Output</div>
      </div>
  </div>   
  </body>
</main>
{{> footer}}
{{> shell-end}}